<h1 align='center'>LIST OF ALL SHORTENED LINKS</h1>
<% base_url =  URI.parse(request.original_url);  base_url = request.original_url.gsub(base_url.path,"/"); %>
<div align='center'>
<table border='1'>
    <tr>
    <th>GIVEN LINK</th>
    <th>SHORTENED LINK</th>
    </tr>
    <% @url.each do |uri| %>
        <tr>
            <td> <%= uri.raw_url %> </td>
            <% link = base_url + uri.short_url %>
            <td> <%= link_to "#{link}", link %> </td>
        </tr>
    <% end %>

</table>
</div>