<h1>URL Shortener</h1>
<% if @url.errors.any? %>
 <h2>The following errors prevented the url from saving:</h2>
 <ul>
 <% @url.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>

<%= form_for @url do |f| %>
    <p>
     <%= f.label :raw_url,"Original URL" %>
     <div class="col-sm-6">
    <%= f.text_field :raw_url, class: "form-control", placeholder: "Enter URL", autofocus: true %>
   </div><br>
    </p>
    <p>
     <%= f.submit("Shorten") %>
    </p>
<% end %>
<p>
    <%= link_to 'View list of shortened links', shorturls_path %>
</p>