

<div class="row" align="center">
   <div class="col-md-4 col-md-offset-4">
   <% uri =  URI.parse(request.original_url);  uri = request.original_url.gsub(uri.path,"/"); %>
    <h1><%= link_to "#{uri+@url.short_url}",  @url.clean_url%>
    </h1>
   </div>
   <p>
   <%= link_to "Shorten another URL", root_path %>

  </div>